PARTIE_2_ClassificationComposants/3-NodeRED/flows.json
[
    {
        "id": "0582163ec68a0ba1",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4536bb2175f840af",
        "type": "serial in",
        "z": "0582163ec68a0ba1",
        "name": "compteurs",
        "serial": "8fac2bf07f198ecc",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d04b7cad5d96988c"
            ]
        ]
    },
    {
        "id": "9a270f1a5527cf89",
        "type": "function",
        "z": "0582163ec68a0ba1",
        "name": "function 1",
        "func": "let count = flow.get(\"led_count\") || 0;\ncount++;\nflow.set(\"led_count\", count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "d744c41ef9ab4ca4"
            ]
        ]
    },
    {
        "id": "d744c41ef9ab4ca4",
        "type": "ui_numeric",
        "z": "0582163ec68a0ba1",
        "name": "",
        "label": "led",
        "tooltip": "",
        "group": "07aa566bf333fc40",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0b3c85f823c11b34",
        "type": "ui_numeric",
        "z": "0582163ec68a0ba1",
        "name": "",
        "label": "resistor",
        "tooltip": "",
        "group": "07aa566bf333fc40",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4d9942b5951a7ac1",
        "type": "ui_numeric",
        "z": "0582163ec68a0ba1",
        "name": "",
        "label": "capacitor",
        "tooltip": "",
        "group": "07aa566bf333fc40",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e4acc5cda456a03c",
        "type": "function",
        "z": "0582163ec68a0ba1",
        "name": "function 2",
        "func": "let count = flow.get(\"resistor_count\") || 0;\ncount++;\nflow.set(\"resistor_count\", count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "0b3c85f823c11b34"
            ]
        ]
    },
    {
        "id": "837b42eb622d8233",
        "type": "function",
        "z": "0582163ec68a0ba1",
        "name": "function 3",
        "func": "let count = flow.get(\"capacitor_count\") || 0;\ncount++;\nflow.set(\"capacitor_count\", count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "4d9942b5951a7ac1"
            ]
        ]
    },
    {
        "id": "bb0f347719dee082",
        "type": "switch",
        "z": "0582163ec68a0ba1",
        "name": "tri",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resistor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "capacitor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "diode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "background",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "9a270f1a5527cf89"
            ],
            [
                "e4acc5cda456a03c"
            ],
            [
                "837b42eb622d8233"
            ],
            [],
            []
        ]
    },
    {
        "id": "d04b7cad5d96988c",
        "type": "function",
        "z": "0582163ec68a0ba1",
        "name": "clean_payload",
        "func": "if (typeof msg.payload === \"string\") {\n    msg.payload = msg.payload.trim();\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "bb0f347719dee082"
            ]
        ]
    },
    {
        "id": "8fac2bf07f198ecc",
        "type": "serial-port",
        "name": "Compteurs",
        "serialport": "COM7",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "string",
        "responsetimeout": 10000
    },
    {
        "id": "07aa566bf333fc40",
        "type": "ui_group",
        "name": "Compteurs",
        "tab": "2789095c35cb4d8c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2789095c35cb4d8c",
        "type": "ui_tab",
        "name": "Classification composants",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e909ee2ccc32555b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6"
        }
    }
]